// Start: utilities
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
.input-not-valid {
  outline: 1px solid var(--danger);
}
.invisible {
  visibility: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.white {
  color: white;
}
// End: utilities
